.album-name{
    width: 200px;
    height: 200px;
    background-color: lightcoral;
    position: relative;
}

.photos-count{
    position: absolute;
    bottom: 0;
    height: 80px;
    width: 200px;
    background-color: wheat;
}